html {font-size: 62.5%}

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Judson', serif;
    color: #3b3b3a;
    background-color: whitesmoke;
    
}

h2, h3, h4 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
   }
 
#page-wrap {
    position: relative;
}

#wrap-div {
    max-width: 1000px;
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rgb(165, 164, 250);
    border-radius: 5px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 

header>div#logo-div {
    width: 60%;
} 

header>div>img {
 width: 100%;
 height: 100%;
 max-width: 250px;
 margin-left: 5rem;
}

nav {
    width: 40%;
} 


nav > ul {
    width: 100%;
    text-transform: capitalize;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20rem;
    margin-top: 5rem;
}

#form-section > h2 {
    font-size: 2.5rem
}

form {
    width: 100%;
}

form>input {
    max-width: 28rem;
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    border-radius: 5px;
}

form > #submit {
    font-size: 1.6rem;
    width: 13rem;
    height: 3.3rem;
    background-color: #190eb3;
}



a {
    color: #996015 ;
    text-decoration: none;
    font-weight: 800;
}


section#features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

section#features>div {
    display: flex;
    width: 80%;
    height: 100px;
}

.icon-div {
    height: 10rem;
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.icon-img {
    width: 5rem;
    height: 6rem;
}
 
#features h3 {
    font-size: 2rem;
}

.features-txt {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#video-section {
    margin-top: 5rem;
}

 iframe {
    width: 100%;
    height: 100%;
}

#video-div {
    width: 56rem ;  
    height: 31.5rem; 
}

#pricing {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

section#pricing > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    min-width: 30rem;
    min-height: 30rem;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: whitesmoke;
}

.pricing-titles {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.0rem;
    width: 100%;
    height: 4rem;
    padding-top: 1rem;
    background-color: rgb(165, 164, 250);
}


section#pricing h4 {
    font-size: 2.0rem;
    font-weight: 700;
}

section#pricing ol {
    text-decoration: none;
    list-style-type: none;
}

section#pricing ol>li {
    padding: 0.8rem;
}


section#pricing button {
    font-size: 1.6rem;
    margin-bottom: 15px;
    width: 10rem;
    height: 4rem;
    text-transform: uppercase;
    background-color: #190eb3;
}

footer {
    width: 75%;
    height: 6.5rem;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(165, 164, 250);
 }

footer > ul {
    /* width: 27rem; */
    text-transform: capitalize;
    list-style-type: none;
    /* display: flex; */
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

footer>ul>li {
    display: inline-block;
    padding: 0 1rem;
}

footer> span {
    padding-right: 1rem;
    color: #996015b2;
}


@media (max-width: 800px) { 

    section#features {
        margin-top: 2rem;
    }
    
    #pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        width: 100%;

     }

}


@media (max-width: 550px) {
    html {
        font-size: 62.5%;
    }


header {
    background-color: rgb(165, 164, 250);
    border-radius: 5px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

header>div#logo-div {
    width: 100%;
    text-align: center;
} 

header>div>img {
    margin-left: 0;

}

nav {
    width: 100%;
} 


nav > ul {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav >ul >li {
    padding: 0.2rem;
}

section#form-section {
    margin-top:  13rem;
}

section#features {
    margin-top: 3rem;
}

section#features>div {
    width: 100%;
    height: 100px;
}

.features-txt {
    width: 100%;
    height: 100%;
    text-align: center;
}

.icon-div {
    display: none;
}

#video-div {
    width: 30rem ;  
    height: 18rem; 
}
}
